<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="2" android:versionName="1.0.0" package="net.foodcare.healthyhometown"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="Healthy Hometown" android:icon="@drawable/appicon" android:name="FoodcareApplication" android:debuggable="false">
        <activity android:name="org.appcelerator.titanium.TiActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden" />
        <activity android:name="ti.modules.titanium.map.TiMapActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden" />
        <activity android:theme="@*android:style/Theme.Translucent" android:name="org.appcelerator.titanium.TiTranslucentActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden" />
        <activity android:theme="@*android:style/Theme.Translucent" android:name="org.appcelerator.titanium.TiModalActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden" />
        <activity android:name="ti.modules.titanium.ui.TiTabActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden" />
        <activity android:theme="@style/Theme.Titanium" android:label="FoodCare" android:name=".FoodcareActivity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <uses-library android:name="com.google.android.maps" />
        <activity android:name="ti.modules.titanium.ui.android.TiPreferencesActivity" />
        <service android:name="org.appcelerator.titanium.analytics.TiAnalyticsService" android:exported="false" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>